<div class="">

  <%= flash_message %>

  <%= form_tag do %>
    <h2>Login - Bistro Calixto</h2>
    <div class="form-group col-sm-3">
      <%= label_tag :name, 'Nome' %>
      <%= text_field_tag :name, params[:name], class: 'input_session_name form-control' %>
    </div>

    <div class="form-group col-sm-3">
      <%= label_tag :password, 'Senha' %>
      <%= password_field_tag :password, params[:password],class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= submit_tag 'Login', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
