<%= form_with(model: user, local: true) do |f| %>
  <%= error_messages_for(f.object) %>

  <div class="form-group">
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name, class: 'input_session_name form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password, 'Senha' %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, 'Confirme sua senha' %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit action_text, class: 'btn btn-primary' %>
  </div>
<% end %>
