<%= flash_message %>

<div class="card">
  <div class="card-body">
    <dl class="row">
      <dt class="col-sm-2">Nome</dt>
      <dd class="col-sm-9"><%= @user.name %></dd>
    </dl>
  </div>
</div>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Voltar', users_path %>
