<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">Bistro Calixto</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <div class="p-2 text-dark"><%= current_user.name %></div>
  </nav>
  <%= link_to 'Sair', logout_path, method: :delete, class: 'btn btn-outline-primary' %>
</div>
