<ul class="nav nav-pills flex-column mb-3">
  <!--
  <li class="nav-item">
    <%= link_to 'Dashboard', admin_path, class: "nav-link #{'active' if params[:controller] == 'admin' }" %>
  </li>
  -->
  <li class="nav-item">
    <%= link_to 'Despesas', cost_products_path, class: "nav-link #{'active' if params[:controller] == 'products' && params[:action] == 'cost' }" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Vendas', sales_dishes_path, class: "nav-link #{'active' if params[:controller] == 'dishes' && params[:action] == 'sales' }" %>
  </li>
</ul>

<hr>

<ul class="nav nav-pills flex-column mb-3">
  <li class="nav-item">
    <%= link_to 'Estoque', products_path, class: "nav-link #{'active' if params[:controller] == 'products' && params[:action] == 'index' }" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Novo Produto', new_product_path, class: "nav-link #{'active' if current_page?(new_product_path) }" %>
  </li>
</ul>

<hr>

<ul class="nav nav-pills flex-column bm-3">
  <li class="nav-item">
    <%= link_to 'Pratos', dishes_path, class: "nav-link #{'active' if params[:controller] == 'dishes' && params[:action] == 'index' }" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Novo Prato', new_dish_path, class: "nav-link #{'active' if current_page?(new_dish_path) }" %>
  </li>
</ul>

<hr>

<ul class="nav nav-pills flex-column bm-3">
  <li class="nav-item">
    <%= link_to 'Usuários', users_path, class: "nav-link #{'active' if params[:controller] == 'users' && params[:action] == 'index' }" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Novo Usuário', new_user_path, class: "nav-link #{'active' if current_page?(new_user_path) }" %>
  </li>
</ul>
