<%= form_with(model: dish, local: true) do |f| %>
  <%= error_messages_for(f.object) %>

  <div class="form-group">
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description, 'Descrição' %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :price, 'Preço' %>
    <%= f.number_field :price, min: 1, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= label_tag 'dishes_name', 'Pesquisar Produtos' %>
    <%= text_field_tag 'dishes_name', nil, class: 'form-control' %>
  </div>

  <div class="form-group row" id="amount_dishes_selected">
  </div>

  <div class="actions">
    <%= f.submit action_text, class: 'btn btn-primary' %>
  </div>
<% end %>
