<%= flash_message %>

<h1>Pratos</h1>

<%= paginate @dishes %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Descrição</th>
      <th scope="col">Preço</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dishes.each do |dish| %>
      <tr>
        <td><%= dish.name %></td>
        <td><%= dish.description %></td>
        <td>R$ <%= dish.price %></td>
        <td><%= link_to 'Mostrar', dish %></td>
        <!-- 
          <td><%= link_to 'Editar', edit_dish_path(dish) %></td> 
        -->
        <td><%= link_to 'Deletar', dish, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @dishes %>
