<div class="card-deck mb-3 text-center">
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Por mês</h4>
      <%= form_tag sales_dishes_path, method: "get" do %>
        <%= month_field(:search, :month) %>
        <%= submit_tag 'Filtrar', class: 'btn btn-primary' %>
      <% end %>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">R$ <%= @month_costs %> <small class="text-muted">/ mês</small></h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li><%= @month_size %> Pratos foram vendidos</li>
      </ul>
    </div>
  </div>
  
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Por semana</h4>
      <%= form_tag sales_dishes_path, method: "get" do %>
        <%= week_field(:search, :month) %>
        <%= submit_tag 'Filtrar', class: 'btn btn-primary' %>
      <% end %>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">R$ <%= @week_costs %> <small class="text-muted">/ semana</small></h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li><%= @week_size %> Pratos foram vendidos</li>
      </ul>
    </div>
  </div>
</div>
