<%= flash_message %>

<div class="card">
  <div class="card-body">
    <dl class="row">
      <dt class="col-sm-2">Nome</dt>
      <dd class="col-sm-9"><%= @dish.name %></dd>

      <dt class="col-sm-2">Descrição</dt>
      <dd class="col-sm-9"><%= @dish.description %></dd>

      <dt class="col-sm-2">Preço</dt>
      <dd class="col-sm-9"><%= @dish.price %></dd>

      <dt class="col-sm-2">Items</dt>
      <dd class="col-sm-9"><%= @dish.item_dishes.map(&:name_with_amount_and_measure).join(', ') %></dd>
    </dl>
  </div>
</div>

<%= link_to 'Editar', edit_dish_path(@dish) %> |
<%= link_to 'Voltar', dishes_path %>
