<% if object.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(object.errors.count, "erro") %> ...</h2>
    <ul>
      <% object.errors.messages.each do |key, message| %>
        <li><%= message[0] %></li>
      <% end %>
    </ul>
  </div>
<% end %>
