<%= form_with(model: product, local: true) do |f| %>
  <%= error_messages_for(f.object) %>

  <div class="form-group">
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group col-md-5 pl-0">
    <%= f.label :purchase_date, 'Data de compra' %>
    <div>
      <%= f.date_select :purchase_date, {}, class: 'form-control date-select' %>
    </div>
  </div>

  <div class="form-group col-md-5 pl-0">
    <%= f.label :expiration_date, 'Data de vencimento' %>
    <div>
      <%= f.date_select :expiration_date, {}, class: 'form-control date-select' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :brand, 'Marca' %>
    <%= f.text_field :brand, class: 'form-control' %>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <%= f.label :amount, 'Quantidade' %>
        <%= f.number_field :amount, min: 1, class: 'form-control' %>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <%= f.label :measure, 'Medida' %>
        <%= f.select :measure, Product::MEASURES, {}, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :price, 'Preço' %>
    <%= f.number_field :price, min: 1, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit action_text, class: 'btn btn-primary' %>
  </div>
<% end %>
