<%= flash_message %>

<h1>Produtos</h1>

<%= paginate @products %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Data de compra</th>
      <th scope="col">Data de vencimento</th>
      <th scope="col">Marca</th>
      <th scope="col">Quantidade</th>
      <th scope="col">Medida</th>
      <th scope="col">Preço</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.purchase_date.strftime("%d/%m/%Y") %></td>
        <td><%= product.expiration_date.strftime("%d/%m/%Y") %></td>
        <td><%= product.brand %></td>
        <td><%= product.amount %></td>
        <td><%= product.measure %></td>
        <td>R$ <%= product.price %></td>
        <td><%= link_to 'Mostrar', product %></td>
        <td><%= link_to 'Editar', edit_product_path(product) %></td>
        <td><%= link_to 'Deletar', product, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @products %>
