<%= flash_message %>

<div class="card">
  <div class="card-body">
    <dl class="row">
      <dt class="col-sm-2">Nome</dt>
      <dd class="col-sm-9"><%= @product.name %></dd>

      <dt class="col-sm-2">Data de compra</dt>
      <dd class="col-sm-9"><%= @product.purchase_date.strftime("%d/%m/%Y") %></dd>

      <dt class="col-sm-2">Data de vencimento</dt>
      <dd class="col-sm-9"><%= @product.expiration_date.strftime("%d/%m/%Y") %></dd>

      <dt class="col-sm-2">Marca</dt>
      <dd class="col-sm-9"><%= @product.brand %></dd>

      <dt class="col-sm-2">Quantidade</dt>
      <dd class="col-sm-9"><%= @product.amount %></dd>

      <dt class="col-sm-2">Medida</dt>
      <dd class="col-sm-9"><%= @product.measure %></dd>

      <dt class="col-sm-2">Preço</dt>
      <dd class="col-sm-9"><%= @product.price %></dd>
    </dl>
  </div>
</div>

<%= link_to 'Editar', edit_product_path(@product) %> |
<%= link_to 'Voltar', products_path %>
