<!DOCTYPE html>
<html>
  <head>
    <title>Bistro Calixto</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/header' if session[:user_id]  %>

    <div class="container-fluid mt-5">

      <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
          <%= render 'shared/side_menu' if session[:user_id] %>
        </nav>
        
        <div class="col-sm-9 offset-sm-3 col-auto offset-md-0 pt-3">
          <%= yield %>
        </div>
      </div>

    </div>
  </body>
</html>
